<div class="container">
  <div class="card mt-5">
    <div class="card__inner text-center">
      <div class="card__title">
        <h3>Discover Japanese products</h3>
      </div>
      <div class="card__content">
        <p>Some introductions here and explain products and Japanese caluture.</p>
      </div>
    </div>
  </div>
  <%= link_to "#" do %>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="card mt-3" style="width: 700px;">
          <div class="card__inner text-center">
            <div class="card__title">
              <h2>What do we have?</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
