
.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  z-index: 10;
  /* The z-index is higher than the video's, making it overlay */
}

.semi-transparent-background {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  z-index: 15;
}
